<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    
    
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        
        
    
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/blog.css">
        <link rel="stylesheet" href="/css/navbar.css">
        <link rel="stylesheet" href="/css/footer.css">

        <title>Document</title>
    </head>
<body>
    
    <%- include('partials/navbar') %>

    <section class="blog-details">
        <div class="blog-details-container">
            <div class="blog-directory">
                <p>BLOG <i class="fa-solid fa-arrow-right"></i></p>
                <p>BLOG SINGLE</p>
            </div>
            <h1><%= blog[0].category %></h1>
        </div>
    </section>


    <section class="blog">
        <div class="voting">


            <% if(voted){ %>
                <form id="form1" action="/removeupvote/<%= blog[0].bid %>" method="post" >
                    <button type="submit" id="up-btn"><i class="fa-solid fa-up-long" style="color: #EC2550;"></i></button>
                </form>
            <% } else {%>
                <form id="form1" action="/upvote/<%= blog[0].bid %>" method="post" >
                    <button type="submit" id="up-btn"><i class="fa-solid fa-up-long"></i></button>
                </form>
            <% } %>


            <p ><%= blog[0].likes %></p>
            
            <% if(downvoted){ %>
                <form id="form2" action="/removedownvote/<%= blog[0].bid %>" method="post">
                    <button type="submit" id="dn-btn"><i class="fa-solid fa-down-long" style="color: #EC2550;"></i></button>
                </form>
            <% }else{ %>
                <form id="form2" action="/downvote/<%= blog[0].bid %>" method="post">
                    <button type="submit" id="dn-btn"><i class="fa-solid fa-down-long"></i></button>
                </form>
            <% } %>

           <form action="/pdf" method="post" style="margin-top: 2rem;">
                <input type="text" name="pdfurl" hidden value="blog/<%= blog[0].bid %>" >
                <button type="submit"><i class="fa-solid fa-file-pdf"></i></button>
           </form>
            
           
        </div>
        
        <div id="bl-cn" class="blog-container">
            <div class="heading">
                <p style="margin: 0; color:gray; font-size: .8rem; padding: 0;"><%= blog[0].uname %>&nbsp;|&nbsp;<%= blog[0].date %></p>
                <h1><%= blog[0].title %></h1>
            </div>
        </div>

        <input id="bl-in" type="text" value="<%= blog[0].quill %>" hidden>



        <div class="discussion">
            
            <div class="discussion-container">
              
      
              <div class="upper">
                <ul id="messages">
                    <li style="background-color: #EC2550; color: white; font-weight: bold; display: flex; flex-direction: column; align-items: center; justify-content: center;">
                        START A LIVE DISCUSSION
                        <br>
                        <p id="live-counter">LIVE&nbsp;(<span id="counter" style="font-size: .8rem;">0</span>)</p>
                    </li>
                </ul>
              </div>
              <div class="lower">
                <form id="form" action="">
                  <input id="input" placeholder="TEXT" autocomplete="off" />
                  <button><i class="fa-regular fa-paper-plane"></i></button>
                </form>
              </div>
      
            </div>
        </div>

    </section>
    <div class="border-line-parent">

        <div class="border-line"></div>
    </div>

    <script>
        let quill=document.getElementById('bl-in').value;
        document.getElementById('bl-cn').innerHTML+=quill;
    </script>






<section class="comments">
    <div class="comments-container">
        <h3><%= comments.length %> COMMENTS</h3>
        
        <% for(let i=0; i<comments.length;i++){ %>
            <div class="comment">
                <img src="/images/user.png" alt="">

                <div class="comment-detail">
                    <p class="c-name"><%= comments[i].uname %></p>
                    <p class="c-date"><%= comments[i].date %></p>
                    <p class="c-p"><%= comments[i].comment %></p>
                        <button class="reply-btn">REPLY</button>
                    

                    <div id="reply-container" class="add-a-comment add-a-reply" style="display: none;">
                        <form action="/comm/<%= blog[0].bid %>" method="post">
                            <input type="text" name="comment" placeholder="ADD A REPLY">
                            <button type="submit">REPLY</button> 
        
                        </form>
                    </div>


                </div>
            </div>
        <% } %>

        <script>
            for(let l=0;l<<%= comments.length %>;l++){
                
                document.getElementsByClassName('reply-btn')[l].addEventListener('click',()=>{
                    document.getElementsByClassName('add-a-reply')[l].style.display='';
                })
            }
        </script>

        
            <div class="add-a-comment">
                <form action="/comm/<%= blog[0].bid %>" method="post">
                    <input type="text" name="comment" placeholder="ADD A COMMENT" >
                    <button type="submit" >POST</button> 
                </form>
            </div>
        

        
    </div>
</section>






    <%- include('partials/footer') %>


    <script src="https://kit.fontawesome.com/9c1c3f6a2e.js" crossorigin="anonymous"></script>
    
    
    <script src="/socket.io/socket.io.js"></script>
   <script>

        var socket = io();

        var messages = document.getElementById('messages');
        var form = document.getElementById('form');
        var input = document.getElementById('input');

        form.addEventListener('submit', function(e) {
            e.preventDefault();
            if (input.value) {
                socket.emit('chat message', input.value);
                input.value = '';
            }
        });


        socket.on('live-counter',function(count){
            document.getElementById('counter').innerText=count-2;
        })

        socket.on('chat message', function(msg) {
            var item = document.createElement('li');
            item.textContent = msg;
            messages.appendChild(item);
        });
    </script>
</body>
</html>