<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/details.css">
</head>
<body>
    <!-- <% user.length %> -->
    <div class="details">
        <div class="details-container">
            <h3>ACCOUNT DETAILS</h3>
            <% if(change){ %>
            <form action="/details/change/<%= user[0].email %>" method="post">
                <input name="name" type="text" value="<%= user[0].name %>" >
                <input name="email" type="text" value="<%= user[0].email %>" >
                <input name="password" type="text" value="<%= user[0].password %>" >
                <button type="submit">CHANGE</button>
            </form>
            <% }else{ %>
                <form action="" method="post">
                    <input name="name" type="text" value="<%= user[0].name %>" disabled>
                    <input name="email" type="text" value="<%= user[0].email %>" disabled>
                    <input name="password" type="text" value="<%= user[0].password %>" disabled>
                    <button style="display: none;">CHANGE</button>
            <% } %>
        </div>
       </div>
</body>
</html>